{% extends "base.html" %}
{% block content %}



<div class="start_box">
  <div class="start_image">
    <img src="static/img/marx-comic.png" alt="marx" style="height:600px;"><br>
    <p class="credits">Image: Anne Simon</p>
  </div>
  <div class="start_text">
    <p>Welcome to The Karl Marx’s Press Review! A brand new service finally providing the solution for your greatest
      desire: to know Karl Marx’s opinion on the latest events!</p>
    <h3><b>A Marxist Generative Transformer</b></h3>
    <p>Karl Marx was one of the punchiest economist and political theorist of all times. Unfortunately, the man is also
      very dead,
      and despite all our efforts we did not (yet) manage to contact him in the Afterlife.<br>This is why, as a backup
      solution in the meanwhile, we decided
      to teach a Generative Pre-trained Transformer (GPT-2) to speak like the philosopher.<br><br>In case you’re
      wondering, a Generative Pre-trained Transformer
      is not a giant Japanese robot that can change to some funky vehicle and back again. We would have loved that too,
      but no.
      A <b>Generative Pre-trained Transformer</b>
      is an unsupervised language model. Generally speaking, given a textual input, a GPT generates coherent paragraphs
      by
      predicting in turn the word which comes next.
      Researchers had GPT-2 learn English by training it on millions of webpages. As for us, we have limited ourselves
      to
      guide our Transformer through an “educational” journey
      across Marx’s (and Engel’s) most important works.<br>Our GPT-2 is now a pretty opinionated one, if not always very
      intelligent. It will keep you good company while we try and contact the original Marx.
    </p>

    <h3><b>A Review of <i>The Guardian</i> by Karl G.P.T. Marx</b></h3>
    <p>Every morning, while having breakfast and listening to your favourite music, you can now come to this website and
      refresh your thoughts by reading GPT-2-Marx’s ideas on the latest news.
      <br>In honour of Karl Marx’s own work as a journalist during the years he spent in England, we decided to have
      GPT-2
      model review <i>The Guardian</i>. Just choose a <b>section</b> from the menu on the top of this page and...don’t
      take this too
      seriously!
      <br>
      <br>

    </p>
    <a class="btn btn-outline-danger" href="/custom-generator" role="button">Bonus: try out our GPT-2 yourself!</a>



    {% endblock %}